@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
    /* background-repeat: no-repeat;
    background-position: 50px 30px; */  
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row::after,.menu::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
} 

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgb(255, 255, 255, 0.75);
    padding: 25px 0;
}

.logo {
    margin-top: 7px;
}

.menu li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8; 
}

.menu li:last-child {
    border-right: 1px solid #2c71b8; 
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}

.menu a:hover {
    background-color: #2c71b8;
    color: white;
    transition: 0.25s all ease-in-out;
}

.form-search-header {
    border: 1px solid #2c71b8;
    width: 200px;
    padding: 4px;
    margin-top: 5px;
    color: #2c71b8;
    height: 40px;
}

.form-search-header input {
    background-color: transparent;
    border: none;
    padding-right: 2px;
    font-size: 21px;
    width: 160px;
    height: 30px;
    /* -webkit-appearance: none; */
    font-family: 'Roboto', sans-serif;
    color: #2c71b8;
    vertical-align: middle;
    float: left;
}

::-webkit-input-placeholder { 
    color:#2c71b8; 
}

.form-search-header input:focus {
    outline: none;
}

.form-search-header button {
    width: 30px;
    height: 30px;
    background: #2c71b8 url(./images/magnifier.png) no-repeat center;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0;
}

.form-search-header button:hover {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0;
    background: white url(./images/magnifier-hover.png) no-repeat center;
    transition: 0.25s all ease-in-out;
}

.cart-header {
    width: 40px;
    height: 40px;
    position: relative;
    background: white url(./images/shopcart.png) no-repeat center;
    margin-top: 5px;
}

.cart-header:hover {
    width: 40px;
    height: 40px;
    position: relative;
    background: #2c71b8 url(./images/shopcart-hover.png) no-repeat center;
    margin-top: 5px;
    transition: 0.25s all ease-in-out;
    cursor: pointer;
}

.cart-header:hover .product-counter{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #2c71b8;
    margin-top: 5px;
    transition: 0.25s all ease-in-out;
}

.product-counter {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: white;
    margin-top: 5px;
}

.slider {
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto', Thin;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.slider-text{
    padding-top: 162px;
}

.device-type {
    padding-left: 15px;
}

.filter {
    background-color: rgb(255, 255, 255, 0.2);
    padding-left: 30px;
    border-right: 1px solid white;
}

.main {
    color: white;
    font-size: 21px;
}

.themes {
    padding-top: 30px;
}

#li1 {
    padding-bottom: 20px;
}

.more-options {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.button1 {
    margin-bottom: 30px;
    text-align: center;
    height: 40px;
    width: 205px;
    font-style: bold;
    color: white;
    background-color: #2c71b8;
    border: 1px solid white;
    cursor: pointer;
}

.button1:hover {
    margin-bottom: 30px;
    text-align: center;
    height: 40px;
    width: 205px;
    font-style: bold;
    color: #2c71b8;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

label::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}

input[type="checkbox"]:checked + label::before {
    background-color: white;
}

.breadcrumbs {
    font-size: 14px;
    color:rgba(255, 255, 255, 50%);
    text-decoration: none;
}

.breadcrumbs-padding {
    padding-top: 24px;
}

.arrow {
    font-size: 14px;
    color:rgba(255, 255, 255, 50%);
    text-decoration: none;
    cursor: default;
}

.laptops-and-tablets {
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
}

.mainmenubutton {
    background-color: #2c71b8;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 268px;
    height: 38px;
    padding-bottom: 35px;
    text-align: left;
    padding-top: 10px;
    border: 1px solid white;
    font-size: 21px;
    font-weight: lighter;
    background: url(./images/arrow-down.png) no-repeat 95% 50%;
    background-size: 10px 10px;
    z-index: 3;
}

.sort-settings {
    padding-top: 20px;
}
    
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.dropdown-child {
    display: none;
    background-color: #2c71b8;
    min-width: 268px;
    position: absolute;
    border: 1px solid white;
    font-size: 21px;
    font-weight: lighter;
    z-index: 3;
}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-bottom: 0.5px solid white;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 3;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.product-image {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-1.png) no-repeat center;
    position: relative;
}

.zoom {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: url(./images/zoom.png) no-repeat center;
    right: 10px;
    position: absolute;
    border: 1px solid #2c71b8;
    top: 10px;
    cursor: pointer;
}

.zoom:hover {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: url(./images/zoom-hover.png) no-repeat center;
    right: 10px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    top: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.like, .liked {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: url(./images/like.png) no-repeat center;
    right: 10px;
    position: absolute;
    border: 1px solid #2c71b8;
    cursor: pointer;
    top: 50px;
}

.like:hover, .liked {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: url(./images/like-hover.png) no-repeat center;
    right: 10px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    cursor: pointer;
    top: 50px;
    transition: 0.2s all ease-in-out;
    z-index: 3;
}

.description {
    width: 270px;
    height: 470px;
    background: rgb(44, 113, 184, 0.75);
    border: 1px solid white;
    padding: 30px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.product-title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

.lorem {
    font-size: 21px;
    font-weight: lighter;
    padding-bottom: 20px;
}

.product-features {
    padding-bottom: 20px;
}

span {
    font-weight: bold;
}

.product-price {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    padding-bottom: 20px;
}

number {
    font-size: 25px;
}

.more-details {
    width: 208px;
    height: 48px;
    text-align: center;
    background-color: #2c71b8;
    border: 1px solid white;
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.more-details:hover {
    width: 208px;
    height: 48px;
    text-align: center;
    background-color: white;
    color: #2c71b8;
    font-size: 21px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    transition: 0.2s all ease-in-out;
}

.buttons {
    padding-left: 15px;
    margin-bottom: 15px;
}

.add-to-cart {
    width: 208px;
    height: 48px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}

.add-to-cart:hover {
    width: 208px;
    height: 48px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
    border: none;
    color: #2c71b8;
    font-size: 21px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 26.9px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.add-to-cart:hover img {
    opacity: 0;
    transition: 0.2s all ease-in-out;
    opacity:0;

    filter:alpha (opacity=0);

    -moz-transform:scale (0, 1);

    -webkit-transform:scale (0, 1);

    -o-transform:scale (0, 1);

    -ms-transform:scale (0, 1);

    transform:scale (0, 1); /* уменьшаем ширину картинки до 0 */
}

.product-image2 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-2.png) no-repeat center;
    position: relative;
}

.product-image3 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-3.png) no-repeat center;
    position: relative;
}

.product-image4 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-4.png) no-repeat center;
    position: relative;
}

.product-image5 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-5.png) no-repeat center;
    position: relative;
}

.product-image6 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-6.png) no-repeat center;
    position: relative;
}

.product-image7 {
    width: 270px;
    height: 180px;
    background: rgb(255, 255, 255, 0.7) url(./images/product-7.png) no-repeat center;
    position: relative;
}

.load {
    padding-left: 50%;
    font-size: 36px;
    font-weight: lighter;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 90px;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 40px;
    font-size: 21px;
    font-weight: light;
    color: #2c71b8;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 3;
}

.modal-block {
    width: 300px;
    height: 200px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 3;
}

.form-field {
    margin: 15px 0;
}

.buttonClose {
    float: right;
    cursor: pointer;
    width: 10px;
    height: 10px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.slider > div {
    font-style: 50px;
    text-align: center;
    padding: 150px 0;
    color: white;
}

.slick-arrow {
    width: 40px;
    height: 40px;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
    z-index: 1;
    /* display: none; */
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
}

input[type="slick-dots"] {
    display: none;
}
input[type="slick-dots"]:checked + label::before {
    background-color: white;
}

.slick-dots li button {
    width: 12px;
    height: 12px;
}

.slick-dots li.slick-active button:before {
    background-color: white;
}

.mainmenubtn {
    color: white;
    border: none;
    cursor: pointer;
    background: url(./images/arrow-down.png) no-repeat 91% 50%;
    background-size: 10px 10px;
}

.dropdown-children {
    display: none;
    background-color: #2c71b8;
    width: 286px;
    position: absolute;
    z-index: 5;
    top: 75px;
    left: 42.5%;
}

.dropdown-children a {
    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-products:hover .dropdown-children {
    display: block;
}

.dropdown-children a:hover {
    background-color: white;
    color: #2c71b8;
}



.product-quantity {
    padding-left: 15.5px;
    text-align: center;
    padding-bottom: 15px;
}

.description {
    height: 510px;
}